{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jogo da memória</title>
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
    <script>
        const imgBaseUrl = "{% static 'img/' %}";
    </script>
    <script defer src="{% static 'javascript/jogo.js' %}"></script>
    <link rel="icon" href="{% static 'img/ring.png' %}">
</head>
<body>
    <header>
        <h1>
            JOGO DA MEMÓRIA <br>
            O SENHOR DOS ANÉIS
        </h1>
        <span id="jogadas">Tentativas: 0</span>
        <p id="boas-vindas">Bem-vindo, {{ usuario }}!</p>
    </header>

    <main>
        <div class="grade"></div>
    </main>

    <form method="POST" action="" style="display: none;">
        {% csrf_token %}
        <input type="hidden" name="tentativas" id="tentativas">
        <input type="hidden" name="tempo" id="tempo">
        <button type="submit">Salvar Resultado</button>
    </form>

    <nav>
        <a href="{% url 'ranking' %}">Ver Ranking</a>
        
    </nav>
    <nav>
        <a href="{% url 'sair' %}">Sair</a> 
    </nav>

    <footer>
        <div class="container">
            <div class="paragrafo1">
                Atividade <br>
                Disciplina: Programação para Internet <br>
                Professor: Marcelo Figueiredo Barbosa Júnior <br>
                IFRN - Campus Santas Cruz
            </div>
            <div class="paragrafo2">
                Grupo <br>
                Arthur Dantas Medeiros <br>
                Natanael Marques do Nascimento
            </div>
        </div>
        <p>Todos os Direitos Reservados &copy;</p>
    </footer>
</body>
</html>